<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_access_record</h1>
        <table border="3px">
            <tr><th>name</th>
                <th>date</th>
                <th>author</th>
                {% for to in access_record %}
                    <tr>
                        <td>{{ to.name }}</td>
                        <td>{{ to.date }}</td>
                        <td>{{ to.author }}</td>
                    </tr>
                {% endfor %}
        </table>
    </center>
</body>
</html>
